@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'satoshi.css';



html, body{
  box-sizing: border-box;
  font-size: 10px; /* Standard setting so that 1rem=10px */
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
